{% load static %}

<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <li><a href="{{ info.facecbook }}"><i class="ion-social-facebook"></i></a></li>
                <li><a href="{{ info.twitter }}"><i class="ion-social-twitter"></i></a></li>
                <li><a href="{{ info.instagram }}"><i class="ion-social-instagram"></i></a></li>
                <li><a href="{{ info.youtube }}"><i class="ion-social-youtube"></i></a></li>
                <li><a href="{{ info.telegram }}"><i class="ion-social-tumblr"></i></a></li>
                <li><a href="{{ info.linkedin }}"><i class="ion-social-linkedin"></i></a></li>
            </ul>

        </div>

        <p>&copy; Copyrights Folio. All rights reserved.</p>

        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>

    </div>
</div>
<!-- End section footer -->

<!-- JavaScript Libraries -->
<script src="{% static '' %}lib/jquery/jquery.min.js"></script>
<script src="{% static '' %}lib/jquery/jquery-migrate.min.js"></script>
<script src="{% static '' %}lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{% static '' %}lib/typed/typed.js"></script>
<script src="{% static '' %}lib/owlcarousel/owl.carousel.min.js"></script>
<script src="{% static '' %}lib/magnific-popup/magnific-popup.min.js"></script>
<script src="{% static '' %}lib/isotope/isotope.pkgd.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static '' %}contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="{% static '' %}js/main.js"></script>

